.admin-navbar {
  height: 60px;
  background: #fff;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 20px;
}

.admin-title {
  font-weight: 600;
  margin: 0;
}

.admin-avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}